body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	background-color: #b4b7b8;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	height: 100vh;
	width: 17vw;
	color: #6b7072;
	box-shadow: 15px 0 20px #00000070;
	background-color: #242b2e;
}
#logo {
	display: flex;
	width: 100%;
	height: 11.57vh;
	background-color: #fff;
}
#logo .st0{fill:#4A4A4A;}
#logo .st1{fill:#B6B8BA;}
#logo svg {
	width: 10vw;
	margin: auto;
}
#main-nav ul {
	list-style: none;
	display: flex;
	flex-direction: column;
}
#main-nav a {
	display: block;
	background: #333b3f; /* Old browsers */
	background: -moz-linear-gradient(top, #333b3f 0%, #2e363a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #333b3f 0%,#2e363a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #333b3f 0%,#2e363a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333b3f', endColorstr='#2e363a', GradientType=0 ); /* IE6-9 */
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	transition: all 0.5s ease-out;
}
#main-nav a {
	font-size: 0.93vmax;
	line-height: 1.66vmax;
	color: #fff;
	height: 3.22vmax;
	padding-right: 1.3vmax;
	text-decoration: none;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	text-transform: uppercase;
}
#main-nav a:hover {
	background: #30bcba;
	transition: all 0.3s ease-out;
}
#main-nav .active a {
	background: #30bcba; /* Old browsers */
	background: -moz-linear-gradient(top, #30bcba 0%, #18a4a2 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #30bcba 0%,#18a4a2 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #30bcba 0%,#18a4a2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30bcba', endColorstr='#18a4a2', GradientType=0 ); /* IE6-9 */
}
#title-filter {
	color: #1ab5b3;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	fill:#1ab5b3;
	font-size: 1vmax;
	padding: 1.2vmax;
}
#title-filter svg {
	width: 1vmax;
	margin-left: 0.62vmax;
}
#filter a {
	font-size: 0.72vmax;
	line-height: 1.25vmax;
	font-weight: 400;
	text-align: right;
	display: block;
	padding: 0.08vmax 1.25vmax;
	text-decoration: none;
	text-transform: lowercase;
	color: #777;
}
#filter ul {
	padding-bottom: 1.25vmax;
}
#filter a:hover,
#filter .active a {
	color: #fff;
}
#filter li:first-child a {
	text-transform: capitalize;
}
ul#social-bar{
	padding: 1.2vmax 1.25vmax;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}
ul#social-bar li {
	margin-left: 0.52vmax;
}
ul#social-bar li a {
	width: 1.25vmax;
	height: 1.25vmax;
	padding: 0;
	display: block;
	font-size: 0;
	background-image: url(../img/be.svg);
	background-size: contain;
	background-color: #fff;
}
ul#social-bar li a:hover {
	transform: scale(0.9);
}
ul#social-bar li:nth-of-type(2) a {
	background-image: url(../img/gg.svg);
}
ul#social-bar li:nth-of-type(3) a {
	background-image: url(../img/fb.svg);
}
ul#social-bar li:nth-of-type(4) a {
	background-image: url(../img/in.svg);
}
ul#social-bar li:nth-of-type(5) a {
	background-image: url(../img/pr.svg);
}
ul#social-bar li:nth-of-type(6) a {
	background-image: url(../img/tw.svg);
}
ul#social-bar li:nth-of-type(7) a {
	background-image: url(../img/yt.svg);
}
#copy {
	text-align: right;
	color: #777;
	font-size: 0.62vmax;
	font-weight: 400;
	padding: 0.2vmax 1.25vmax;
}

/* main */

main {
	width: 100%;
	min-height: 100vh;
	padding-left: 17vw;
}
.work-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.work-box {
	height: 16.19vw;
	/* max-width: 21.09vw; */
	width: 25%;
	position: relative;
	overflow: hidden;
}
.work-box img {
	width: 100%;
	height: auto;
}
.work-box a {
	text-decoration: none;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: inherit;
	background-color: rgba(45, 184, 185, 0.8);
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	opacity: 0;
}
.work-box a:hover {
	opacity: 1;
}
.work-box h2 {
	font-size: 1.25vw;
	font-weight: 400;
	margin-bottom: 0.78vw;
}
.work-box h3 {
	font-size: 0.72vw;
	font-weight: 400;
}
.work-box h3::after {
	display: block;
	content: '';
	width: 72%;
	height: 1px;
	margin: 1vw auto;
	background-color: #fff;
}
.arrow {
	width: 3vw;
	height: 3vw;
	fill: #fff;
}
#info {
	position: fixed;
	top: 0;
	padding: 1.2vw;
	right: 0;
	z-index: 5;
	width: 4.68vw;
	height: 4.68vw;
	background-color: rgba(45, 184, 185, 0.8);
}
#info:hover {
	cursor: pointer;
}
#info svg {
	fill: #fff;
}
#info-box {
	position: fixed;
	top: 4.68vw;
	right: 0;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 1vw;
	transform: translateX(100%);
	transition: all 0.35s ease-in-out;
}
#info-box.open {
	transform: translateX(0);
}
#info-box li {
	padding: 0.3vw;
	padding-right: 1.2vw;
	font-size: 0.83vmax;
}
#info-box li svg {
	margin-right: 0.7vw;
}
.wrap {
	margin: 1.56vw;
	padding: 1.56vw;
}
.white {
	background-color: #fff;
}
.info_work_box {
	display: flex;
	justify-content: space-between;
	align-content: stretch;
	align-items: flex-start;
}
.img_box_work {
	height: 29.16vw;
	overflow: hidden;
}
.img_box_work img {
	width: 100%;
	height: auto;
}
.info_work_box .left_info,
.info_work_box .right_info {
	width: 48%;
}
.left_info .about_work {
	margin-top: 1.3vw;
	padding-bottom: 1.6vw;
	border-bottom: 1px solid #e5e5e5;
	color: #a3a3a3;
	font-size: 0.93vw;
	line-height: 1.56vw;
}
.left_info .about_work h1,
.pr_info .title_info,
.title_info,
.gallery_title {
	font-size: 1.25vw;
	line-height: 1.35vw;
	color: #444;
	margin-bottom: 1vw;
	font-weight: 300;
}
.left_info .about_work p {
	margin-bottom: 1.5vw;
}
.left_info .about_work p:last-of-type {
	margin-bottom: 0;
}
.right_info .pr_info li {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #e5e5e5;
	padding: 0.7vw 0;
	color: #848484;
	font-size: 0.8vw;
}
.icon_circle {
	color: #30bcba;
	display: flex;
	border: 1px solid #30bcba;
	width: 1.8vw;
	height: 1.8vw;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	margin-right: 0.5vw;
}
.tags .list_tags {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
	margin-left: -0.5vw;
	margin-top: 1.5vw;
}
.pr_info,
.tags {
	margin-bottom: 1.56vw;
}
.tags .list_tags li {
	border: 1px solid #e5e5e5;
	border-radius: 0.4vw;
	margin-left: 0.5vw;
	margin-bottom: 0.5vw;
}
.tags .list_tags li a {
	display: block;
	padding: 0.5vw 0.7vw;
	font-size: 0.68vw;
	color: #848484;
	text-decoration: none;
}
.gallery_project .list_images {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	margin-left: -0.57vw;
}
.gallery_project .list_images li {
	margin-top: 0.2vw;
	background-color: #eee;
	width: 4vw;
	height: 4vw;
	margin-left: 0.57vw;
	margin-bottom: 0.57vw;
}
.gallery_project .list_images a {
	display: block;
	overflow: hidden;
}
.gallery_project .list_images img {
	width: 120%;
	height: auto;
}
.r-pr {
	margin-top: 1.5vw;
}
.r-pr .list_r_pr {
	display: flex;
	flex-flow: row nowrap;
}
.r-pr .list_r_pr a {
	display: block;
	width: 33.33%;
	height: 9.47vw;
	overflow: hidden;
}
.r-pr .list_r_pr img {
	width: 100%;
}
.pr_features {
	margin-top: 1.4vw;
}
.pr_features .list_features {
	margin-top: 0.8vw;
}
.pr_features .list_features svg {
	margin-right: 0.5vw;
}
.pr_features .list_features li {
	color: #848484;
	font-size: 0.72vw;
	padding: 0.09vw 0;
}

/* About */

